.container {
    display:flex;
    margin:20px;

}
.buttons {
    display: flex;
    margin-left:20px;
}
body{
    background: rgb(210,247,255);
    background: linear-gradient(90deg, rgba(210,247,255,1) 0%, rgba(180,237,255,1) 100%);
    font-family: monospace;
}